<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="faq">
	<sql id="searchCondition">
		<choose>
			<when test="category != null and question != null">
				WHERE category LIKE '%'||#{category}||'%' OR question LIKE '%'||#{question}||'%'
			</when>
			<when test="category != null">
				WHERE category LIKE '%'||#{category}||'%'
			</when>
		</choose>
	</sql>
	
	<select id="getList" parameterType="faqDto" resultType="faqDto">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM AS rnum
			FROM
				(SELECT faq_num,category,question,answer
				FROM FAQ_TB
				<include refid="searchCondition"/>
				ORDER BY faq_num DESC) result1)
		<![CDATA[ 
		WHERE rnum >= #{startRowNum} AND rnum <= #{endRowNum}
		]]>
	</select>
	
	<select id="getListCategory" parameterType="faqDto" resultType="faqDto">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM AS rnum
			FROM
				(SELECT faq_num,category,question,answer
				FROM FAQ_TB
				WHERE category = #{category}
				ORDER BY faq_num DESC) result1)
		<![CDATA[ 
		WHERE rnum >= #{startRowNum} AND rnum <= #{endRowNum}
		]]>
	</select>
	
	<!-- FAQ 전체 갯수 불러오기 -->
	<select id="getCount" parameterType="faqDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM FAQ_TB
		
	</select>
	<!-- FAQ 카테고리별로 갯수 불러오기 -->
	<select id="getFAQCount" parameterType="int" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM FAQ_TB
		WHERE category = #{category}
	</select>	

	<insert id="insert" parameterType="faqDto">
		INSERT INTO FAQ_TB
		(faq_num,category,question,answer)
		VALUES(FAQ_SEQ.NEXTVAL, #{category}, #{question},
			#{answer})
	</insert>
	
	<select id="getData" parameterType="int" resultType="faqDto">
		SELECT result1.*
		FROM
			(SELECT faq_num,category,question,answer,
			   LAG(faq_num, 1, 0) OVER (ORDER BY faq_num DESC) nextNum,
	   		   LEAD(faq_num, 1, 0) OVER (ORDER BY faq_num DESC) prevNum
			 FROM FAQ_TB) result1
		WHERE faq_num=#{faq_num}
	</select>
	
	<select id="getData2" parameterType="faqDto" resultType="faqDto">
		SELECT result1.*
		FROM
			(SELECT faq_num,category,question,answer,
			   LAG(faq_num, 1, 0) OVER (ORDER BY faq_num DESC) nextNum,
	   		   LEAD(faq_num, 1, 0) OVER (ORDER BY faq_num DESC) prevNum
			 FROM faq_tb

			 ) result1
		WHERE faq_num=#{faq_num}
	</select>	
	<delete id="delete" parameterType="int">
		DELETE FROM FAQ_TB
		WHERE faq_num=#{faq_num}
	</delete>
	
	<update id="update" parameterType="faqDto">
		UPDATE FAQ_TB
		SET category=#{category}, question=#{question}, answer=#{answer}
		WHERE faq_num=#{faq_num}
	</update>	
</mapper>