<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">

	<select id="getList" parameterType="noticeDto" resultType="noticeDto">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM AS rnum
			FROM
				(SELECT notice_num, category,title,content,regdate
				FROM NOTICE_TB
				ORDER BY notice_num asc) result1)
		<![CDATA[ 
		WHERE rnum >= #{startRowNum} AND rnum <= #{endRowNum}
		]]>
	</select>
	
	<select id="getCount" parameterType="noticeDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM NOTICE_TB
	</select>		

	<insert id="insert" parameterType="noticeDto">
		INSERT INTO NOTICE_TB
		(notice_num,category,title,content,regdate)
		VALUES(NOTICE_SEQ.NEXTVAL, #{category}, #{title},#{content},
			SYSDATE)
	</insert>
	
	<select id="getData" parameterType="int" resultType="noticeDto">
		SELECT result1.*
		FROM
			(SELECT notice_num,title,content,TO_CHAR(regdate, 'YY.MM.DD') AS regdate,
			   LAG(notice_num, 1, 0) OVER (ORDER BY notice_num DESC) nextNum,
	   		   LEAD(notice_num, 1, 0) OVER (ORDER BY notice_num DESC) prevNum
			 FROM NOTICE_TB) result1
		WHERE notice_num=#{notice_num}
	</select>
	
	<delete id="delete" parameterType="int">
		DELETE FROM NOTICE_TB
		WHERE notice_num=#{notice_num}
	</delete>
	
	<update id="update" parameterType="noticeDto">
		UPDATE NOTICE_TB
		SET  category = #{category}, title=#{title}, content=#{content}
		WHERE notice_num=#{notice_num}
	</update>	
</mapper>