@charset "UTF-8";

body{ background-color:#f5f6f7;}
/* title */
h3.white{ color: #fff; }
h3.black{ color: #333; }

/* contents */
.contents, .comment-form textarea{ margin-bottom: 3%; background-color:#fff; padding:3%; border:1px solid #ccc;}
.contents .contents_title{ margin-bottom: 3%; font-family: 'Montserrat', 'Noto Sans KR', sans-serif; font-size: 2.3rem; font-weight: 500; }
.contents .contents_num{display:none; }
.contents .sub_title{display:flex; border-bottom:1px solid #ccc;  padding-bottom: 2%;}
.contents .contents_btn{display:flex;}


/* comments */
.comments{ background-color:#f1f1f1; padding:3%; border:1px solid #ccc;}
.comments .comment-form{ display: none;}
.comments .profile-image {padding: 3px; }
.comments .profile-image {padding: 3px; position: relative; object-fit: cover; overflow: hidden; width:95px; height:95px; border-radius:50%; background-image: linear-gradient(#fff, #fff), linear-gradient(to right, rgb(172 136 104) 0%, #dcd1b9 100%); background-clip: content-box, border-box; }
.loader svg{
   animation: rotateAni 1s ease-out infinite;
}


@keyframes rotateAni{
   0%{
      transform: rotate(0deg);
   }
   100%{
      transform: rotate(360deg);
   }
};
