@charset "UTF-8";

/* body -> container  */
.container{
		width: 992px;
}

/* list -> image */
.card-image{
	width: 120px;
	height: 120px;
	border-radius: 50%;
}

/* list -> grid */
#wrapper{
	display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
}