@charset "UTF-8";
.cafe_table #faqInsert{display: flex; justify-content: flex-end;}
.cafe_table #faqInsert:hover { font-weight:500; text-decoration: underline;}


.cafe_table .table__body { max-height: calc(89% - 1.6rem); margin: .8rem auto; border-radius: .6rem; overflow: auto; overflow: overlay;}
.cafe_table table { width: 100%;}
.cafe_table table, th, td { border-collapse: collapse; padding: 1rem; text-align: left;}
.cafe_table tbody tr { border-bottom: 1px solid #e5e5e5;}
.cafe_table tbody tr:nth-child(even) { background-color: #0000000b;}
.cafe_table tbody .title:hover { font-weight:500;}
.cafe_table .answer_end {background-color: rgb(166 223 170 / 89%); display: inline; color: #fff; padding: 2% 10%; border-radius: 15px; text-align: center;}
.cafe_table .answer_wait {background-color: #e1e1e1; display: inline; color: #fff; padding: 2% 10%; border-radius: 15px; text-align: center;}
.cafe_table .qna_question{display:flex; padding: 3% 7%;}
.cafe_table .qna_q{font-size:3rem; font-weight:100; color: #c1c4c3;}
.cafe_table #content { border-bottom: 1px solid #ccc; padding-bottom: 3%; line-height: 2rem; margin-left: 6%; width:0%; min-width:80%;}












