@charset "utf-8";

.serif { font-family: 'Noto Serif KR', serif; }
.sub-contents { padding: 150px 0; } 


/* title */
h3.title{ margin-bottom: 3%; font-family: 'Montserrat', 'Noto Sans KR', sans-serif; font-size: 3.3rem; font-weight: 600; }
h3.white{ color: #fff; }
h3.black{ color: #333; }


/* mainBanner */
#main-banner { width: 100%; height: 800px; padding-top: 120px; background-repeat: no-repeat; background-size: cover; background-position: center; text-align: center; }
#main-banner.main-banner-01 { background-image: url(../images/sub/main_img_01.jpg); }
#main-banner.main-banner-02 { background-image: url(../images/sub/main_img_02.jpg); }
#main-banner.main-banner-03 { background-image: url(../images/sub/main_img_03.jpg); }
#main-banner.main-banner-04 { background-image: url(../images/sub/main_img_04.jpg); }


#main-banner div > * { color: #fff; text-align: left; }
#main-banner .inner-wrap { height: 100%; }
#main-banner .inner-wrap .title { padding: 160px 0 240px; }
#main-banner .inner-wrap .title h2 { font-size: 3.8rem; font-weight: 600; margin-bottom: 35px; }
#main-banner .inner-wrap .title h6 { line-height: 2rem; }
#main-banner .inner-wrap .indicator { width: 300px; display: flex; }
#main-banner .inner-wrap .indicator .circle { position: relative; margin-right: 25px; }
#main-banner .inner-wrap .indicator .circle:after { position: absolute; content: ''; top: 50%; right: -13px; width: 3px; height: 3px; border-radius: 50%; background-color: #fff; }
#main-banner .inner-wrap .indicator .circle:last-child:after { display: none; }




/* mate_contents */
.mate_content .inner-wrap {display: flex;  flex-wrap: wrap; box-sizing: border-box; position: relative; justify-content: space-between;}
.mate_content .mate_content_theme { display: flex; }
.mate_content .mate_content_theme ul { display: flex;}
.mate_content .mate_content_theme ul li { box-sizing: border-box; border: 2px solid #E8EBF5; border-radius: 90px; margin: 0 1%; position: relative; }
.mate_content .mate_content_theme ul li a{text-align: center; width: 90px; padding: 5% 4%;  }
.mate_content .theme_search {margin-top:2%}
.mate_content .theme_search form{ position: relative; display:flex; box-sizing: border-box;}
.mate_content .theme_search input[type="text"]{border: none; outline: none; padding: 1% 2%; background-color: rgb(246, 246, 246); }
.mate_content .theme_search input[type="submit"]{ appearance: none; border: none; outline: none; padding: 1% 2%; background-color:#fff; cursor: pointer; }
.mate_content .theme_search select{position: relative;  padding: 1% 2%;  border: none; outline: none; background-color:rgb(246, 246, 246); }



.mate_content .mate_content_list{ display: flex; box-sizing: border-box; border: 1px solid #E8EBF5; margin: 2% 2% 2% 0; max-width: 300px; }
.mate_content .mate_content_list:nth-child(4n+0){ margin-right: 0; }
.mate_content .mate_contents{ display: flex; flex-direction: column; width: 100%; position: relative; }
.mate_content_img {overflow: hidden; margin: 0 auto; min-height: 250px; height: 0; }
.mate_content_img img{object-fit: cover; width: 100%; height: 100%;}
.mate_content_text{padding: 25px; }
.mate_content_title{font-weight: bold;}
.mate_content_date{font-size: 0.8rem;}


/*=========================== ~1399 ==================================*/
/*=========================== ~1399 ==================================*/
@media screen and (max-width: 1399px) {



}






/*=========================== ~1280 ==================================*/
/*=========================== ~1280 ==================================*/
@media screen and (max-width: 1280px) {
   

}





/*=========================== ~1180 ==================================*/
/*=========================== ~1180 ==================================*/
@media screen and (max-width: 1180px) {
    


}








/*=========================== ~1025 ==================================*/
/*=========================== ~1025 ==================================*/
@media screen and (max-width: 1025px) {
    *{font-size: 16px;}

    

}






/*=========================== ~820 ==================================*/
/*=========================== ~820 ==================================*/
@media screen and (max-width: 820px) {


}






/*=========================== ~768 ==================================*/
/*=========================== ~768 ==================================*/
@media screen and (max-width: 768px) {
    .inner-wrap { width: 100%; }
    #main-banner .inner-wrap .title { padding: 160px 10px 100px; }
    #main-banner .inner-wrap .indicator { padding: 0 10px; }
    #main-banner { height: 500px; padding: 0; }


   


    
}







/*=========================== ~712 ==================================*/
/*=========================== ~712 ==================================*/
@media screen and (max-width: 767px) {
   
}









/*=========================== ~414 ==================================*/
/*=========================== ~414 ==================================*/
@media screen and (max-width: 414px) {
    *{font-size: 14px;}
    .sub-contents { padding: 130px 0; }
    .map { padding: 130px 10px; }
    #main-banner .inner-wrap .indicator { width: auto; }

    
    






}







/* ============================ iphone567 ============================= */
/* ============================ iphone567 ============================= */
@media screen and (max-width: 375px){
    *{ font-size: 12px; }

    #main-banner .inner-wrap .title h2 { font-size: 3rem; }




}




/*===========================iphone5 & se==================================*/
/*===========================iphone5 & se==================================*/
@media screen and (max-width: 320px){

 


}





/*===========================gallaxy fold==================================*/
/*===========================gallaxy fold==================================*/
@media screen and (max-width: 280px){

 


}