@charset "utf-8";



/* desktop */
@media screen and (min-width: 1024px){
    .pcol01{width: 8.33%;}   /* 12분의 1 */
    .pcol02{width: 16.66%;}  /* 12분의 2 */
    .pcol03{width: 25%;}     /* 12분의 3 */
    .pcol04{width: 33.33%;}  /* 12분의 4 */
    .pcol05{width: 41.66%;}  /* 12분의 5 */
    .pcol06{width: 50%;}     /* 12분의 6 */
    .pcol07{width: 58.33%;}  /* 12분의 7 */
    .pcol08{width: 66.66%;}  /* 12분의 8 */
    .pcol09{width: 75%;}     /* 12분의 9 */
    .pcol10{width: 83.33%;}  /* 12분의 10 */
    .pcol11{width: 91.66%;}  /* 12분의 11 */
    .pcol12{width: 100%;}    /* 12분의 12 */
}







/* tablet */
@media screen and (max-width: 1023px) {
    .tcol01{width: 8.33%;}   /* 12분의 1 */
    .tcol02{width: 16.66%;}  /* 12분의 2 */
    .tcol03{width: 25%;}     /* 12분의 3 */
    .tcol04{width: 33.33%;}  /* 12분의 4 */
    .tcol05{width: 41.66%;}  /* 12분의 5 */
    .tcol06{width: 50%;}     /* 12분의 6 */
    .tcol07{width: 58.33%;}  /* 12분의 7 */
    .tcol08{width: 66.66%;}  /* 12분의 8 */
    .tcol09{width: 75%;}     /* 12분의 9 */
    .tcol10{width: 83.33%;}  /* 12분의 10 */
    .tcol11{width: 91.66%;}  /* 12분의 11 */
    .tcol12{width: 100%;}    /* 12분의 12 */
}





/* mobile */
@media screen and (max-width: 767px) {
    .mcol01{width: 8.33%;}   /* 12분의 1 */
    .mcol02{width: 16.66%;}  /* 12분의 2 */
    .mcol03{width: 25%;}     /* 12분의 3 */
    .mcol04{width: 33.33%;}  /* 12분의 4 */
    .mcol05{width: 41.66%;}  /* 12분의 5 */
    .mcol06{width: 50%;}     /* 12분의 6 */
    .mcol07{width: 58.33%;}  /* 12분의 7 */
    .mcol08{width: 66.66%;}  /* 12분의 8 */
    .mcol09{width: 75%;}     /* 12분의 9 */
    .mcol10{width: 83.33%;}  /* 12분의 10 */
    .mcol11{width: 91.66%;}  /* 12분의 11 */
    .mcol12{width: 100%;}    /* 12분의 12 */
}







