@charset "UTF-8";

body {
	background-color: #f5f6f7;
}

#profileImage {
	width: 100px;
	height: 100px;
	border: 1px solid #cecece;
	border-radius: 50%;
}

.container {
	margin-top : 130px;
	width: 768px;
}

/* 이미지 업로드 폼을 숨긴다 */
#imageForm{
	display: none;
}

.title {
	color: black;
	font-size: 2.5rem;
	margin-bottom: 20px;
	font-weight: 600;
	text-align: center;
}

.btn-join {
    background-color: rgb(158 165 194 / 97%);
	color: white;
}

.btn-outline-join {
    color: rgb(158 165 194 / 97%);
    border-color: rgb(158 165 194 / 97%);
}

.btn-cancle {
	background-color: rgb(241 146 146 / 97%);
	color: white;
	
}


.btn-gray {
	background-color: rgb(191, 191, 191);
	color: white;
}

.btn-outline-gray {
    color: rgb(191, 191, 191);
    border-color: rgb(191, 191, 191);
}