<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="groupReview">
<select id="getList" parameterType="reviewDto" resultType="reviewDto">
      SELECT *
      FROM
         (SELECT result1.*, ROWNUM AS rnum
         FROM
            (SELECT num, title, writer, review, ref_group, rate,
                board_review.regdate, profile
            FROM board_review
            INNER JOIN board_member
            ON board_review.writer=board_member.id
            WHERE ref_group=#{ref_group}
            ORDER BY board_review.regdate desc, num ASC) result1)
      WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}   
   </select>
   <!-- 디테일 페이지에 보여주기 위한 댓글 -->
   <select id="getList2" parameterType="int" resultType="reviewDto">
   		SELECT * FROM board_review
   		WHERE ref_group=#{ref_group}
   		ORDER BY num DESC;
   </select>
   <select id="getCount" parameterType="int" resultType="int">
      SELECT NVL(MAX(ROWNUM), 0)
      FROM board_review
      WHERE ref_group=#{ref_group}
   </select>
   <select id="getData" parameterType="int" resultType="reviewDto">
      SELECT num,title, writer, review, ref_group, rate, regdate
      FROM board_review
      WHERE num=#{num}
   </select>
   <delete id="delete" parameterType="int">
   	  DELETE FROM board_review
   	  WHERE num=#{num}
   </delete>
   <insert id="insert" parameterType="reviewDto">
   	  INSERT INTO board_review
   	  (num, title, writer, review, ref_group, rate, regdate)
   	  VALUES(#{num}, #{title}, #{writer}, #{review}, #{ref_group}, #{rate}, SYSDATE)
   </insert>
   <select id="getSequence" resultType="int">
      SELECT review_seq.NEXTVAL
      FROM DUAL
   </select>
   <update id="update" parameterType="reviewDto">
      UPDATE board_review
      SET review=#{review}, rate=#{rate}
      WHERE num=#{num}
   </update>
	<select id="getAvg" parameterType="string" resultType="double">
	    <![CDATA[
	        SELECT ROUND(AVG(rate), 2) AS average_rate
	        FROM board_review
	        WHERE title=#{title}
	    ]]>
	</select>
		<select id="getEqual" parameterType="reviewDto" resultType="reviewDto">
		SELECT *
		FROM board_review
		WHERE ref_group = #{ref_group}
		AND writer = #{writer}
	</select>
</mapper>