<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="groupReview">
<select id="getList" parameterType="reviewDto" resultType="reviewDto">
      SELECT *
      FROM
         (SELECT result1.*, ROWNUM AS rnum
         FROM
            (SELECT reivew, title, writer, review, ref_group, rate,
                board_review.regdate, profile
            FROM board_review
            INNER JOIN users
            ON board_review.writer=users.id
            WHERE ref_group=#{ref_group}
            ORDER BY board_review.regdate desc, num ASC) result1)
      WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}   
   </select>
   <!-- 디테일 페이지에 보여주기 위한 댓글 -->
   <select id="reviewList" parameterType="int" resultType="reviewDto">
   		SELECT review_num, group_num, writer, content, rate, regdate
   		FROM group_review_tb
   		WHERE group_num=#{num}
   		ORDER BY review_num
   </select>
   <select id="getCount" parameterType="int" resultType="int">
      SELECT NVL(MAX(ROWNUM), 0)
      FROM board_review
      WHERE ref_group=#{ref_group}
   </select>
   <select id="getData" parameterType="int" resultType="reviewDto">
      SELECT num,title, writer, review, ref_group, rate, regdate
      FROM board_review
      WHERE num=#{num}
   </select>
   <delete id="delete" parameterType="int">
   	  DELETE FROM board_review
   	  WHERE num=#{num}
   </delete>
   <insert id="insert" parameterType="reviewDto">
   	  INSERT INTO GROUP_REVIEW_TB
   	  (review_num, writer, content, group_num, rate, regdate)
   	  VALUES(#{review_num}, #{writer}, #{content}, #{group_num}, #{rate}, TO_DATE(TO_CHAR(SYSDATE, 'RR/MM/DD'), 'RR/MM/DD'))
   </insert>
   <select id="getSequence" resultType="int">
      SELECT review_seq.NEXTVAL
      FROM DUAL
   </select>
   <update id="update" parameterType="reviewDto">
      UPDATE board_review
      SET review=#{review}, rate=#{rate}
      WHERE num=#{num}
   </update>
	<select id="getAvg" parameterType="string" resultType="double">
	    <![CDATA[
	        SELECT ROUND(AVG(rate), 2) AS average_rate
	        FROM board_review
	        WHERE title=#{title}
	    ]]>
	</select>
		<select id="getEqual" parameterType="reviewDto" resultType="reviewDto">
		SELECT *
		FROM GROUP_REVIEW_TB
		WHERE group_num = #{group_num}
		AND writer = #{writer}
	</select>
</mapper>