<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="groupManaging">
	<select id="getGroupList" parameterType="String" resultType="groupDto">
		SELECT num, name, caption, img_path, regdate, ended_dt, deadline_dt, start_dt,
			manager_id, max_people, now_people, avrg_rate, meeting_loc, meeting_time,
			genre, on_off, manager_comment, viewcount
      	FROM group_tb
      	WHERE manager_id = #{manager_id}
      	ORDER BY num DESC
   	</select>
   	<select id="getGroupData" parameterType="int" resultType="groupDto">
		SELECT num, name, caption, img_path, regdate, ended_dt, deadline_dt, start_dt,
			manager_id, max_people, now_people, avrg_rate, meeting_loc, meeting_time,
			genre, on_off, manager_comment, viewcount
      	FROM group_tb
      	WHERE num = #{num}
   	</select>
   	<update id="updateGroupData" parameterType="groupDto">
   		UPDATE group_tb
   		SET name = #{name}, caption = #{caption}, img_path = #{img_path}, ended_dt = #{ended_dt},
   			deadline_dt = #{deadline_dt}, start_dt = #{start_dt}, max_people = #{max_people},
   			meeting_loc = #{meeting_loc}, meeting_time = #{meeting_time}, genre = #{genre},
   			on_off = #{on_off}, manager_comment = #{manager_comment}
   		WHERE num = #{num}
   	</update>
   	<delete id="deleteGroupData" parameterType="int">
   		DELETE FROM group_tb
   		WHERE num = #{num}
   </delete>
	<select id="getMemberList" parameterType="groupManagingDto" resultType="groupManagingDto">
		SELECT *
		FROM   
		   (SELECT result1.*, ROWNUM as rnum
		   FROM
		      (SELECT memnum, memid, memnick, intro, regdate
		      FROM board_join_group
		      WHERE groupnum = #{groupNum} AND isJoin = 0
		      ORDER BY memnum DESC) result1)
   	</select>
   	<select id="getKickedMemberList" parameterType="groupManagingDto" resultType="groupManagingDto">
		SELECT *
		FROM   
		   (SELECT result1.*, ROWNUM as rnum
		   FROM
		      (SELECT memnum, memid, memnick, intro, regdate
		      FROM board_join_group
		      WHERE groupnum = #{groupNum} AND isJoin = 4
		      ORDER BY memnum DESC) result1)
   	</select>
	<select id="getApplicantList" parameterType="groupManagingDto" resultType="groupManagingDto">
		SELECT *
		FROM   
		   (SELECT result1.*, ROWNUM as rnum
		   FROM
		      (SELECT memnum, memid, memnick, intro, regdate
		      FROM board_join_group
		      WHERE groupnum = #{groupNum} AND isJoin = 1
		      ORDER BY memnum DESC) result1)
   	</select>
   	<select id="getRejectedApplicantList" parameterType="groupManagingDto" resultType="groupManagingDto">
		SELECT *
		FROM   
		   (SELECT result1.*, ROWNUM as rnum
		   FROM
		      (SELECT memnum, memid, memnick, intro, regdate
		      FROM board_join_group
		      WHERE groupnum = #{groupNum} AND isJoin = 2
		      ORDER BY memnum DESC) result1)
   	</select>
   	<select id="getMemberCount" parameterType="int" resultType="int">
    	SELECT NVL(MAX(ROWNUM), 0)
      	FROM board_join_group
      	WHERE groupnum = #{num} AND isJoin = 0
   	</select>
   	<update id="joinApprove" parameterType="int">
   		UPDATE board_join_group
   		SET isJoin = 0
   		WHERE memNum = #{num}
   	</update>
   	<update id="kick" parameterType="int">
   		UPDATE board_join_group
   		SET isJoin = 4
   		WHERE memNum = #{num}
   	</update>
   	<update id="reject" parameterType="int">
   		UPDATE board_join_group
   		SET isJoin = 2
   		WHERE memNum = #{num}
   	</update>
   	<update id="dropOut" parameterType="int">
   		UPDATE board_join_group
   		SET isJoin = 3
   		WHERE memNum = #{num}
   	</update>
</mapper>