<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="inquire">
	<select id="getList" parameterType="String" resultType="inquireDto">
		SELECT *
		FROM CS_TB
		WHERE writer = #{id}
		ORDER BY cs_num DESC
	</select>
	
	<select id="getCount" parameterType="inquireDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM CS_TB
	</select>		

	<insert id="insert" parameterType="inquireDto">
		INSERT INTO CS_TB
		(cs_num, writer, category, title, content, confirm, regdate)
		VALUES(cs_seq.NEXTVAL, #{writer}, #{category}, #{title}, #{content}, #{confirm}, SYSDATE)
	</insert>
	
	<select id="getData" parameterType="int" resultType="inquireDto">
		SELECT *
		FROM CS_TB
		WHERE cs_num = #{cs_num}
	</select>
	<delete id="delete" parameterType="int">
		DELETE FROM CS_TB
		WHERE cs_num = #{cs_num}
	</delete>
	<update id="update" parameterType="inquireDto">
		UPDATE CS_TB
		SET category = #{category}, title = #{title}, content = #{content}
		WHERE cs_num = #{cs_num}
	</update>	
</mapper>