<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="join">
	<insert id="insert" parameterType="joinDto">
		INSERT INTO board_join_group
		(memNum, groupNum, memId, memNick, intro, isjoin, regdate)
		VALUES (join_seq.NEXTVAL, #{groupNum}, #{memId}, #{memNick}, #{intro}, 1, SYSDATE)
	</insert>
</mapper>

