<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="join">
	<insert id="insert" parameterType="joinDto">
		INSERT INTO group_join_tb
		(num, group_Num, user_Id, intro, isjoin, request_dt)
		VALUES (join_seq.NEXTVAL, #{group_Num}, #{user_Id}, #{intro}, 1, SYSDATE)
	</insert>
</mapper>

