<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="info">

	<select id="getWritingList" parameterType="usersInfoDto" resultType="usersInfoDto">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM AS rnum
			FROM
				(SELECT comu_num,writer,title,regdate,group_num
				FROM community_board_tb
				WHERE writer = #{writer}
				ORDER BY comu_num DESC) result1)
		<![CDATA[ 
		WHERE rnum >= #{startRowNum} AND rnum <= #{endRowNum}
		]]>
	</select>
	<select id="getWCount" parameterType="usersInfoDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM community_board_tb
		WHERE writer = #{writer}
	</select>
	
	<select id="getCommentList" parameterType="usersInfoDto" resultType="usersInfoDto">
		SELECT *
		FROM
		    (SELECT result1.*, ROWNUM AS rnum
		    FROM
		        (SELECT cc.comu_num,cc.writer, cc.content, cc.regdate, cb.group_num, cb.title
		        FROM comu_comment_tb cc
		        INNER JOIN community_board_tb cb
		        ON cc.comu_num = cb.comu_num
		        WHERE cc.writer = #{writer}
		        ORDER BY comment_num DESC) result1)
		<![CDATA[ 
		WHERE rnum >= #{startRowNum} AND rnum <= #{endRowNum}
		]]>
	</select>
	<select id="getCCount" parameterType="usersInfoDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM comu_comment_tb
		WHERE writer = #{writer}
	</select>
	
	<select id="getSupportList" parameterType="usersInfoDto" resultType="usersInfoDto">
		SELECT *
		FROM
		    (SELECT result1.*, ROWNUM AS rnum
		    FROM
		        (SELECT cs_num, writer, regdate, title
		        FROM cs_tb
		        ORDER BY cs_num DESC) result1)
		<![CDATA[ 
		WHERE rnum >= #{startRowNum} AND rnum <= #{endRowNum}
		]]>
	</select>
	<select id="getSCount" parameterType="usersInfoDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM cs_tb
		WHERE writer = #{writer}
	</select>
	
	

</mapper>