<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="users">

	<!-- 아이디 중복체크 -->
    <select id="isExist" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM users WHERE id = #{id}
    </select>
    
    <!-- 닉네임 중복체크 -->
    <select id="isExist2" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM users WHERE name = #{name}
    </select>

	<insert id="insert" parameterType="usersDto">
		INSERT INTO users
		(id, pwd, email, regdate, name, SVC_USE_PCY_AGMT_YN, PS_INFO_PROC_AGMT_YN, MKT_INFO_RECV_AGMT_YN)
		VALUES(#{id}, #{pwd}, #{email}, SYSDATE, #{name}, 0, 0, 0)
	</insert>
	
	<select id="getData" parameterType="string" resultType="usersDto">
		SELECT id, pwd, profile, email, regdate, Name, SVC_USE_PCY_AGMT_YN, PS_INFO_PROC_AGMT_YN, MKT_INFO_RECV_AGMT_YN
		FROM users
		WHERE id = #{id}
	</select>
	
	<update id="updatePwd" parameterType="usersDto">
		UPDATE users
		SET pwd = #{newPwd}
		WHERE id = #{id}
	</update>
	
	<update id="update" parameterType="usersDto">
		UPDATE users
		SET email = #{email}, profile= #{profile}
		WHERE id = #{id}
	</update>
	
	<delete id="delete" parameterType="string">
		DELETE FROM users
		WHERE id = #{id}
	</delete>
	
	<select id="getId" parameterType="string" resultType="usersDto">
		SELECT id, email
		FROM users
		WHERE name = #{name}
	</select>
</mapper>