@charset "UTF-8";


/*폭 조정*/
#content{
	min-width: 1280px;
}
/*상단 배너*/
	.head{
		background-image: url("https://static.onoffmix.com/images/pc/default/inquire_bg.png");
		height:360px;
		background-size: cover;
		overflow: hidden;
		display: block;
	}
	h2.main_title{
		margin: 116px auto 20px;
		text-align: center;
		font-size: 46px;
		padding:7px 0;
	}
	p.sub_text{
		text-align: center;
		font-size: 20px;
	}
/*메인 메뉴바 */
.menu_bar{
	width:100%;
	height:80px;
	box-sizing: border-box;
	text-align: center;
}
/*메인 메뉴바 */
	.menu_bar{
		width:100%;
		height:80px;
		box-sizing: border-box;
		text-align: center;
	}
	.menu_bar li{
		margin: 0 40px;
		display: inline-block;
		cursor: pointer;
	}
	.menu_bar li >a{
		display: block;
		color: #8a8a8a;
		font-size: 20px;
		height: 80px;
		line-height: 78px;
	}
	.menu_bar li .active{
		color: rgb(157 128 63);
		font-weight: 600;
		border-bottom: 3px solid rgb(157 128 63);
	}
	.menu_bar li>a:hover{
		color: rgb(157 128 63);
		font-weight: 600;
		border-bottom: 3px solid rgb(157 128 63);
	}
/* 바디 폭 조정 */
	.body_area{
		position: relative;
		box-sizing: border-box;
		width: 1280px;
		margin: 0 auto;
	}
/* 메인 컨텐츠 */
	.main_content{
		margin: 100px auto 90px;
		box-sizing: border-box;
		width: 100%;
		min-height: 260px;
	}
/* 문의사항 네비바*/
	.inquire_navi{
		width: 100%;
		height: auto;
		margin-bottom: 80px;
		box-sizing: border-box;
		font-size:0;
		text-align: center;
	}
	.inquire_navi li{
		width: 320px;
		height: 50px;
		display: inline-block;
		box-sizing: border-box;
	}
	.inquire_navi li a{
		width: 100%;
		height: 100%;
		padding-top: 16px;
		box-sizing: border-box;
		font-size: 16px;
		display: block;
		border: 1px solid gray;
		border-right: none;
		color:black;
	}
	.inquire_navi li a.my_inquire{
		border-right: 1px solid gray;
	}
/* 나의 문의 내역 전체 레이아웃 */
	h3.title{
		font-size: 20px;
	}
	table {
		width: 100%;
	    border-collapse: collapse;
	    table-layout: fixed;
	}
	table.table-data{
		margin-top: 16px;
	    margin-bottom: 50px;
	    border-top: 2px solid #333;
	}
/* 나의 문의 내역 테이블 헤드 */
	table thead {
    	border-bottom: 1px solid #d8d8d8;
	}
	table th {
	    padding: 22px 0;
	    font-size: 16px;
	    font-weight: bold;
	    background-color: #f7f7f7;
	}
	th.date{
		width: 140px;
	}
	th.title{
		width: 960px;
	}
	th.status{
		width: 180px;
	}
	table td {
	    box-sizing: border-box;
	    padding-top: 0;
	    padding-bottom: 0;
	    text-align: center;
	}
	
	/* 나의 질문 내역 레이아웃*/
	.main-data{
		position: relative;
		border-bottom : none;
	}
	.main-data .summary-data td {
    	padding: 25px 0;
	}
	.main-data td.date {
	    width: 140px;
	}
	.main-data td.title{
		width:960px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	table td.title{
		text-align: left;
	}
	.main-data td.status{
		width: 180px;
	}
	.main-data td {
	    font-size: 16px;
	}
	table table td {
	    text-align: inherit;
	}
	table tbody tr:first-child {
    	border-top: none;
	}
	/* 답변 보기 버튼 레이아웃 */
	.main_data .btn_more {
	    width: 14px;
	    height: 8px;
	    position: absolute;
	    top: 29px;
	    right: 30px;
	    background: transparent url("https://static.onoffmix.com/images/pc/default/faq_bg.png") no-repeat center center;
	}
	/* 답변 내용 레이아웃 */
	.main-data.detail-data {
   		display: table-row;
	}
	.detail-td{
		padding: 37px 50px;
    	background-color: #fafafa;
    	box-sizing: border-box;
    	width: 100%;
	}
	.description{
		width: 1180px;
		text-align: left;
		padding: 0 85px;
	    line-height: 19px;
	    word-break: break-all;
	}
	.main-data .detail-data .inquiry-content .delete-btn {
	    position: absolute;
	    right: 3px;
	    border: none;
	    background-color: transparent;
	    font-size: 14px;
	    color: #666;
	}
	/* 답변 토글 css */
	.btn_more{
		width:100%;
		height: 64px;
		top: 0;
		left: 0;
		z-index: 1;
		text-decoration: none;
		text-align: left;
		cursor: pointer;
		overflow: hidden;
		text-indent: -9999em;
		position: absolute;
		box-sizing: border-box;
		display: block;
	}
















