@charset "UTF-8";

/*폭 조정*/
#content{
	min-width: 1280px;
}
/*상단 배너*/
.head{
	background-image: url("https://static.onoffmix.com/images/pc/default/inquire_bg.png");
	height:360px;
	background-size: cover;
	overflow: hidden;
	display: block;
}
h2.main_title{
	margin: 116px auto 20px;
	text-align: center;
	font-size: 46px;
	padding:7px 0;
}
p.sub_text{
	text-align: center;
	font-size: 20px;
}
/*메인 메뉴바 */
	.menu_bar{
		width:100%;
		height:80px;
		box-sizing: border-box;
		text-align: center;
	}
	.menu_bar li{
		margin: 0 40px;
		display: inline-block;
		cursor: pointer;
	}
	.menu_bar li >a{
		display: block;
		color: #8a8a8a;
		font-size: 20px;
		height: 80px;
		line-height: 78px;
	}
	.menu_bar li .active{
		color: rgb(157 128 63);
		font-weight: 600;
		border-bottom: 3px solid rgb(157 128 63);
	}
	.menu_bar li>a:hover{
		color: rgb(157 128 63);
		font-weight: 600;
		border-bottom: 3px solid rgb(157 128 63);
	}
/* 바디 폭 조정 */
.body_area{
	position: relative;
	box-sizing: border-box;
	width: 1280px;
	margin: 0 auto;
}
/* 메인 컨텐츠 */
.main_content{
	margin: 100px auto 90px;
	box-sizing: border-box;
	width: 100%;
	min-height: 260px;
}
/* 문의사항 네비바*/
.inquire_navi{
	width: 100%;
	height: auto;
	margin-bottom: 80px;
	box-sizing: border-box;
	font-size:0;
	text-align: center;
}
.inquire_navi li{
	width: 320px;
	height: 50px;
	display: inline-block;
	box-sizing: border-box;
}
.inquire_navi li a{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	font-size: 16px;
	display: block;
	border: 1px solid gray;
	border-right: none;
	color:black;
	display: flex;
    justify-content: center;
    align-items: center;
}
.inquire_navi li a.my_inquire{
	border-right: 1px solid gray;
}
/* 폼양식 */
.area_form{
	margin: 14px 0 0;
	border-top: 2px solid black;
	font-sizea: 14px;
}
.area_form .row-wrap{
	padding: 20px 50px;
	width: 100%;
	height: auto;
	border-bottom: 1px solid gray;
	box-sizing: border-box;
	overflow: hidden;
}
.area_form input{
	width: 300px;
	height: 48px;
	padding: 0 20px;
	background-color: #fff;
	font-size: 14px;
}
input[type="text"], input[type="email"], 
input[type="password"], input[type="number"], 
input[type="tel"] {
	box-sizing: border-box;
	border: 1px solid gray;
	color: #333333;
	vertical-align: middle;
}
.input_name, .input_phone{
	float: left;
	width:50%;
}
h4.label{
	display: inline-block;
	width: 120px;
	font-size:16px;
	line-height: 48px;
	font-weight: normal;
	letter-spacing: -1px;
	vertical-align: top;
}
.area_form .row_wrap>div {
    width: 100%;
    height: auto;
    position: relative;
}
.area_form .row-wrap >div .tip_txt {
   	padding-left: 20px;
   	display: inline-block;
   	font-size: 14px;
}
.area_form select {
    width: 160px;
    height: 48px;
    margin-right: 5px;
    padding: 0 20px;
    border: 1px solid #ccc;
    color: #999;
    vertical-align: middle;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff url("https://static.onoffmix.com/images/pc/svg/arrow_down.svg") no-repeat right 21px center;
}
.area_form .input_title .inquire_title{
	width: 880px;
}
.area_form textarea{
	width: 1050px;
	height: 200px;
	padding: 20px;
	font-size: 14px;
	line-height: 20px;
}
.input_file .file_box{
	width: 1050px;
	display: inline-block;
}
.input_file .btn_upload {
    float: left;
    width: 160px;
    height: 48px;
    line-height: 46px;
    border-radius: 0;
	border-color: #d8d8d8;
	border: 1px solid gray;
    background-color: #f7f7f7;
    color: #333333;
    font-size: 14px;
    vertical-align: middle;
    letter-spacing: normal;
    text-align: center;
    cursor: pointer;

}
.input_file input.upload_file {
    width: 880px;
    height: 48px;
    float: right;
    color: #666666;
    background-color: #ffffff;
}
.input_file .file_wrap {
    margin-top: 10px;
    margin-left: 294px;
    font-size: 12px;
}
.input_file .file_wrap .tip_file{
	color: gray;
}
.area_form .row-wrap:last-of-type {
   border: none;
   border-bottom: 2px solid #333;
}
.input_agreement h4.label {
   line-height: 1.5em;
}
.input_agreement label {
   padding-left: 36px;
   line-height: 72px;
}
label {
   cursor: pointer;
}
.input_agreement label input[type="checkbox"] {
   vertical-align:middle;
   width: 26px;
   height: 26px;
   box-sizing: border-box;
   border: 1px solid #d8d8d8;
   background-color: #fff;
}
.area_form input.btn_submit {
    width: 240px;
    height: 60px;
    margin: 0 auto;
    display: block;
    border: 1px solid #3187e9;
    border-radius: 30px;
    background-color: #4195f5;
    color: #fff;
    font-size: 18px;
}
.info_message {
    margin-top: 20px;
    padding-bottom: 50px;
    font-size: 16px;
    color: #666666;
}