@charset "UTF-8";
/* title */
h3.title{ margin-bottom: 3%; font-family: 'Montserrat', 'Noto Sans KR', sans-serif; font-size: 2.6rem; font-weight: 600;  }
h2.title{ margin-top: 2%; font-family: 'Montserrat', 'Noto Sans KR', sans-serif; font-size: 2.0rem; font-weight: 600; display: inline-block; }
p.title{ margin-bottom: 3%; font-family: 'Montserrat', 'Noto Sans KR', sans-serif; font-size: 1.6rem; font-weight: 500;  }
h3.white{ color: #fff; }
h2.black, h3.black{ color: #333; }

/*전체 폭 레이아웃 */
	.main_content{
		margin: 100px auto 40px;
		box-sizing: border-box;
		width: 100%;
		max-width:1280px;
	}
/*메인 메뉴바 */

	.menu_bar{
		width:100%;
		height:80px;
		box-sizing: border-box;
		text-align: center;
	}
	.menu_bar li{
		margin: 0 40px;
		display: inline-block;
		cursor: pointer;
	}
	.menu_bar li >a{
		display: block;
		color: #8a8a8a;
		font-size: 20px;
		height: 80px;
		line-height: 78px;
	}
	.menu_bar li .active{
		color: rgb(157 128 63);
		font-weight: 600;
		border-bottom: 3px solid rgb(157 128 63);
	}
	.menu_bar li>a:hover{
		color: rgb(157 128 63);
		font-weight: 600;
		border-bottom: 3px solid rgb(157 128 63);
	}
	/* 자주하는 질문 */
	.area_faq{
		margin-top:20px;
		margin-bottom:20px;
	}
	h2.faq_title{
		font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	    font-size: 2.0rem;
	    font-weight: 600;
	    display: inline-block;
	}
	.area_faq ul{
		padding: 37px 40px 13px;
		box-sizing: border-box;
		border-top: 2px solid #3d4652;
		border-bottom: 1px solid #3d4642;
	}
	.area_faq ul li{
		margin-bottom: 27px;
		box-sizing: border-box;
		display: inline-block;
		width: 49%;
	}
	.faq_category{
		margin-right: 40px;
		width: 100px;
		color: #666;
		display: inline-block;
	}
	.area_faq ul li p{
		width: 440px;
		display: inline-block;
	}
	.area_faq .faq_more{
		float: right;
		line-height: 4rem;
	}
	.area_faq .faq_more:hover, .view_more:hover{
		color: rgb(157 128 63);
		font-weight: 600;
	}
	/* 공지사항 */
	.area_notice{
		width:630px;
		height:290px;
		display: inline-block;
	}
	.view_more{
		float: right;
		margin-right: 65px;
		display: inline-block;
		line-height: 4rem;
	}
	.area_notice li{
		margin: 20px 0;
	}
	/* 운영시간 */
	.area_contact{
		width: 630px;
		height: 290px;
		padding: 51px;
		float: right;
		display: inline-block;
		box-sizing: border-box;
		border: 1px solid #d8d8d8;
	}
	.area_contact dl{
		margin-top: 30px;
	}
	.area_contact dl dt {
	    display: block;
	    font-weight: bold;
	    font-size: 18px;
	}
