@charset "UTF-8";

/* 페이지 전체 레이아웃 */
.main_content{
	margin: 100px auto 40px;
	box-sizing: border-box;
	width: 100%;
	min-height: 260px;
}
/* 상단 배너 */
.head{
	background-image:url("https://static.onoffmix.com/images/pc/default/notice_bg.png");
	height:360px;
	background-size:cover;
	overflow:hidden;
}
.head h2{
	text-align:center;
	margin:116px auto 20px;
}
.head p{
	text-align:center;
	font-size:20px;
}
.faq{
	display: inline-block;
}
/*메인 메뉴바 */
	.menu_bar{
		width:100%;
		height:80px;
		box-sizing: border-box;
		text-align: center;
	}
	.menu_bar li{
		margin: 0 40px;
		display: inline-block;
		cursor: pointer;
	}
	.menu_bar li >a{
		display: block;
		color: #8a8a8a;
		font-size: 20px;
		height: 80px;
		line-height: 78px;
	}
	.menu_bar li .active{
		color: rgb(157 128 63);
		font-weight: 600;
		border-bottom: 3px solid rgb(157 128 63);
	}
	.menu_bar li>a:hover{
		color: rgb(157 128 63);
		font-weight: 600;
		border-bottom: 3px solid rgb(157 128 63);
	}
	/*페이지 네이션*/
	.pagination_wrap{
		margin: 20px 0 40px;
		text-align: center;
		width: 100%;
	}
	.pagination{
		display: inline-block;
		vertical-align: middle;
	}
	.pagination_ul li{
		float: left;
	}
	.pagination_ul li a{
		width: 28px;
		margin: 0 11px;
	}
	.pageination_ul li.active{
		color: rgb(157 128 63);
		font-weight: 600;
		border-bottom: 3px solid rgb(157 128 63);
	}
	.pageination_ul li>a:hover{
		color: rgb(157 128 63);
		font-weight: 600;
		border-bottom: 3px solid rgb(157 128 63);
	}
	.page-item{
		font-size: 20px;
	}