@charset "UTF-8";

.info_container{
    margin: 0 auto;
    width: 992px;
}

.info_title{
    font-size: 30px;
    margin-top: 35px;
    margin-bottom: 35px;
    font-weight: 700;
    text-align: center;
}

#info_header{
	display: flex;
	border: 1px solid rgb(230, 230, 230);
	border-radius: 50px;
	background-color: rgb(255, 255, 255);
	
}

.card-image{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 3px solid rgb(186, 157, 127);
	margin: 40px 100px;
	margin-right: 70px; 
}

#info_body{
	margin: 55px 0;
	display: flex;
}

#info_body .info-body-main{
	margin-right: 170px;
	padding-top: 20px;
}

#info_body .buttons{
	padding-top: 20px;
}

.buttons .button{
	margin-bottom: 30px;
	width: 120px;
	height: 35px;
	border-radius: 15px;
}

.button div{
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.info-body-content{
	margin-bottom:20px;
	display: flex;
	
}
.body-header{
	font-weight: 700;
	font-size: 20px;
	margin-bottom:15px;
	margin-right: 10px;
}

.info-body-content div:nth-child(2){
	font-size: 18px;
	
}

#info_kick{
	display:flex;
	align-items: center;
	justify-content: center;
	margin-left: 80px;
	padding-top: 100px;
}

#info_kick div{
	background-color: rgb(248, 162, 146);
	width: 150px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 18px;
}




